    <h2>
          <div class="content">
            SICT - Register
          </div>
        </h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui large form"}) do |f| %>
<div class="ui stacked segment">

  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <div class="ui left input">
    <%= f.text_field :first_name, placeholder: "First name" %>
    </div>
  </div>

   <div class="field">
    <div class="ui left input">
    <%= f.text_field :last_name, placeholder: "Last name" %>
    </div>
  </div>

  <div class="field">
    <div class="ui left icon input">
        <i class="at icon"></i>
        <%= f.email_field :email, placeholder: "Email"  %>
    </div>
  </div>

  <div class="field">
   <div class="ui left icon input">
              <i class="lock icon"></i>

    <%= f.password_field :password, placeholder: "Password"  %>
    </div>
  </div>

  <div class="field">
    <div class="ui left icon input">
                <i class="lock icon"></i>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => 'ui fluid large primary submit button' %>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
