<div class="four wide column">
  <div class="ui small vertical menu">
    <%= link_to "Dashboard", instructor_dashboard_path, :class => "item"%>
    <%= link_to "Add Course", new_course_path, :class => "item"%>
    <%= link_to "Add Assignment", new_assignment_path, :class => "item"%>
    <%= link_to "Students", students_path, :class => "item"%>
    <%= link_to "Groups", list_groups_path, :class => "item"%>
  </div>
</div>
