<div class="ui one column grid">
  <div class="column">
    <strong><%= @group.name %></strong> - Task States
    <hr/>
  </div>
  <div class="column">
    <%= column_chart @state_chart %>
  </div>
  <div class="column">
    Group Members activity
    <hr/>
  </div>
  <div class="column">
    <%= bar_chart @member_activity, colors: ["#00b894", "#666"] %>
  </div>
  <div class="column">
    Group sentiment
    <hr/>
  </div>
  <div class="column">
    <%= pie_chart @sentiment%>
  </div>
</div>
<div class="ui one column grid">
  <div class="column">
    Each student sentiment
    <hr/>
  </div>
</div>
<div class="ui two column grid">
  <% for user in @list_of_users%>
    <div class="column">
      <p> <%= user.name + ' - Sentiment'%> <%= link_to '<i class="icon user outline"></i>'.html_safe, student_path(user), :class => "item" %></p>
      <%= pie_chart user.tones.joins(:tone_scores).group(:name).count%>
    </div>
  <%end %>
</div>
