<div class="ui one column grid">
  <div class="column">
    Group List (<%= Group.where("instructor_allowed = true").count%>)
    <hr/>
  </div>
  <div class="column">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Group Name</th>
          <th>Total Member</th>
          <th>Progress</th>
          <th>View</th>
          <th>Insight</th>
        </tr>
      </thead>
      <tbody>
        <% for group in @groups%>
          <tr>
            <td data-label="fname"><%= group.course.name %></td>
            <td data-label="fname"><%= group.name %></td>
            <td data-label="members"><%= group.group_members.count %></td>
            <td data-label="progress"><%= group.progress %>%</td>
            <td data-label="action"><%= link_to "View Group", group_path(group.id), :class => "item"%></td>
            <td data-label="action"><%= link_to "Group Insight", group_insight_path(group.id), :class => "item"%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="column">
    Groups in each course
    <hr/>
  </div>
  <div class="column">
    <%= column_chart @group_chart %>
  </div>
</div>
