<div class="ui one column grid">
  <div class="column">
    Student Name: <b><%= @student.first_name + ' ' + @student.last_name %></b>
  </div>
</div>
<div class="ui two column grid">
  <div class="column">
    <div class="ui piled segment">
      <h4 class="ui header">Discussion</h4>
      <p>Total: <%= @student.discussions.count%></p>
    </div>
  </div>
  <div class="column">
    <div class="ui piled segment">
      <h4 class="ui header">Feedbacks</h4>
      <p>Total: <%= @student.feedbacks.count%></p>
    </div>
  </div>
  <div class="column">
    <div class="ui piled segment">
      <h4 class="ui header">Activity</h4>
      <p>Total: <%= @activity %></p>
    </div>
  </div>
  <div class="column">
    <div class="ui piled segment">
      <h4 class="ui header">Total Task</h4>
      <p>Total: <%= @task.count%></p>
    </div>
  </div>
</div>
<div class="ui one column grid">
  <div class="column">
    <%= @student.name + ' Activities'%>
    <hr/>
  </div>
  <div class="column">
    <%= bar_chart @event_chart %>
  </div>
  <div class="column">
    <%= @student.name + ' Overall Sentiment'%>
    <hr/>
  </div>
  <div class="column">
    <%= pie_chart @tone_chart %>
  </div>
  <div class="column">
    <%= @student.name + ' completed tasks'%>
    <hr/>
  </div>
  <div class="column">
    <%if @completed_task.blank? %>
      No completed task
    <% else %>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Detail</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for task in @completed_task%>
            <tr>
              <td data-label="Name"><%= task.name %></td>
              <td data-label="Detail"><%= task.detail %></td>
              <td data-label="action"><%= link_to "view/give feedback", feedback_path(task.id), :class => "item"%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
