<div class="ui one column grid">
  <div class="column">
    Group Name: <b><%= @group.name %></b>
  </div>
</div>
<div class="ui three column grid">
  <div class="column">
    <div class="ui piled segment">
      <h4 class="ui header">Tasks</h4>
      <p>Total: <%= @group.tasks.count%></p>
    </div>
  </div>
  <div class="column">
    <div class="ui piled segment">
      <h4 class="ui header">Members</h4>
      <p>Total: <%= @group_members.count%></p>
    </div>
  </div>
  <div class="column">
    <div class="ui piled segment">
      <h4 class="ui header">Discussion</h4>
      <p>Total: <%= @group.discussions.count%></p>
    </div>
  </div>
</div>
<div class="ui one column grid">
  <div class="column">
    <b> Tasks State</b> <br/>
    <div>
      <p></p>
      <%= column_chart @state_chart %>
    </div>
  </div>
  <div class="column">
    <b> Group Members</b> <br/>
    <div class="ui middle aligned selection list">
      <% for member in @group_members%>
        <div class="item">
          <% user = User.find(member.user_id)%>
          <img class="ui avatar image" src="https://ui-avatars.com/api/?name=<%= user.first_name + ' ' + user.last_name%>&background=192a56&color=FFFFFF">
          <div class="content">
            <div class="header"> <%= user.first_name + ' ' + user.last_name%> </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
