<div class="ui one column grid">
  <div class="column">
    Submission for Group <b><%= @group.id.to_s + ' : ' + @group.name%></b>
  </div>
  <div class="column">
    <%= form_with model: @submission, html: {class: "ui form"}, local: true  do |form| %>
      <%= form.hidden_field :course_id, :value => @group.course.id %>
      <%= form.hidden_field :group_id, :value => @group.id%>
      <%= form.hidden_field :user_id, :value => current_user.id%>
      <div class="field">
        Detail: <%= form.text_area :detail %>
      </div>
      <div class="field">
        File: <%= form.file_field :project %>
      </div>
      <%= form.submit %>
    <% end %>
  </div>
</div>
