<div class="four wide column">
  <div class="ui small vertical menu">
    <%= link_to "Dashboard", group_path(@group.id), :class => "item"%>
    <%= link_to "Assignment", assignment_discussion_path(@group.id), :class => "item"%>
    <%= link_to "Task", task_path(@group.id), :class => "item"%>
    <%= link_to "Feedback", feedbacks_path(:group_id => @group.id), :class => "item" %>
    <%= link_to "Submit Assignment", new_submission_path(:group_id => @group.id), :class => "item" %>
  </div>
</div>
