<div class="ui one column grid">
  <% if  @user_is_present %>
    <div class="column">
      already in group
    </div>
  <%else%>
    <!-- if not in a group -->
    <div class="column">
      <button class="fluid ui button violet" id="createGroup">
        Create Group
      </button>
    </div>
    <div class="column">
      <div class="ui middle aligned divided list" id="group-grid">
        <% for g in @groups%>
          <div class="item">
            <div class="right floated content">
              <%= form_for @group_members, url: url_for(controller: 'group_members', action: 'create'), html: {class: "ui form"} do |f| %>
                <%= f.hidden_field :group_id, :value => g.id %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.submit "Join", :class => 'ui button blue small'%>
              <%end%>
            </div>
            <div class="content">
              <%= g.name %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  <%end%>
  <!-- end if not in group-->
</div>
<!-- create group modal area -->
<div class="ui small modal">
  <div class="header">Create a group</div>
  <div class="content">
    <%= form_for @group, url: url_for(controller: 'groups', action: 'create'), html: {class: "ui form"} do |f| %>
      <div class="field">
        <label for="gname">Group name</label>
        <div class="field">
          <%= f.text_field :name, placeholder: "name" %>
        </div>
      </div>
      <div class="ui form">
        <div class="field">
          <label>Include Instructor</label>
          <%= f.select :instructor_allowed, ['True', 'False']%>
        </div>
      </div>
      <%= f.hidden_field :course_id, :value => @course.id %>
      <br/>
      <div class="field">
        <%= f.submit :class => 'ui primary submit button'%>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <div class="ui approve button red">Cancel</div>
  </div>
</div>
<script>
  $("#createGroup").click(function() {
    $(".ui.modal").modal("show");
  });
</script>
