<!DOCTYPE html>
<html>
  <head>
    <title>Sict</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="ui container">
      <div class="ui two column grid">
        <div class="column">
          <h1>SICT</h1>
        </div>
        <% if current_user.is_instructor? %>
          <div class="right aligned column" style="padding-top: 30px;">
            <%= link_to('<i class="graduation cap icon"></i>Back to instructor'.html_safe, instructor_dashboard_path, :class => "item") %>
          </div>
        <% end %>
      </div>
      <p></p>
      <div class="ui attached stackable menu">
        <div class="ui container">
          <% if current_user.is_instructor? %>
            <%= link_to('<i class="home icon"></i>Home'.html_safe, instructor_dashboard_path, :class => "item") %>
          <% else %>
            <%= link_to('<i class="home icon"></i>Home'.html_safe, courses_path, :class => "item") %>
          <% end %>
          <%= link_to('<i class="mail icon"></i>Messages'.html_safe, conversations_path, :class => "item") %>
          <% if user_signed_in? %>
            <div class="right item">
              <div class="ui">
                <div class="ui simple dropdown">
                  <%= current_user.first_name %> <%= current_user.last_name %>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <%= link_to('<i class="edit icon"></i>Edit'.html_safe, edit_user_registration_path, :class => "item") %>
                    <%= link_to('<i class="power off icon"></i>Logout'.html_safe, destroy_user_session_path, method: :delete, :class => "item") %>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
      <br />
      <div class="ui grid">
        <%= render "side", locals: {zone: @group} %>
        <!-- sidebar-->
        <div class="twelve wide column">
          <% if notice.present? %>
            <div class="ui message"><%= notice %></div>
          <% end %>
          <% if alert.present? %>
            <div class="ui yellow message"><%= alert %></div>
          <%end%>
          <%= yield %>
        </div>
      </div>
      <!--main-->
    </div>
    <!-- container div-->
  </body>
</html>
